<h1>Biblia</h1>
<a><b>Reina Valera 1960 </b></a>
<div id="caja3">
	<iframe id="bi" width="900px" scrolling="yes" height="600px" frameborder="4px" name="window" src="http://www.amen-amen.net/RV1960/" style="border:0px"></iframe>

</div>

</div>
<p>IPUC</p>

