<h1><center>Directiva De Cafeteria</center></h1>

<div id='menu'>
<ul>
   <li ><%= link_to "Miembros", miembrs_path %>

   </li>
   <li ><%= link_to "Eventos", eventos_path %>
      
   </li>

   <li> <%= link_to "Plan de Trabajo", p_trabajos_path %></a>
      
   </li>

</div>

<div id="img">
      <img class="usu" src="assets/ipuc.jpg">
</div>

<div id="text">
    <h6> BrYaN y SaLoMoN® </h6>
    <h5> IPUC-Manrique Oriental </h5>
</div>
