<h1><center>Directiva De Publicidad</center></h1>

<li type="button" class="btn btn-info"><%= link_to "ATRAS", controller:"direct", action:"index" %>
</li>

<div id='menu'>
<ul>
   <li ><%= link_to "Miembros", directivas_path %>

   </li>
   <li ><%= link_to "Eventos", eventos_path %>
      
   </li>

   <li> <%= link_to "Plan de Trabajo", p_trabajos_path %></a>
      
   </li>

</div>

<div id="img">
      <img class="usu" src="assets/ipuc.jpg">
</div>

<div id="text">
    <h6> BrYaN y SaLoMoN® </h6>
    <h5> IPUC-Manrique Oriental </h5>
</div>
