<br>
<br>
<h1>Modulo de Ayuda</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Para que es el modulo de ayuda?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Este documento te servirá para guiarte de  forma mas fácil y ayudar a  aclaras las dudas respecto al programa.
		En este manual  podrás encontrar como realizar las diferentes acciones del programa  por ejemplo el ingresar datos el borrar datos , verlos etc..
		Lo principal que se  podrá evidenciar es  que el software cuanta con 3 usuarios o roles diferentes la cual cada uno tiene acceso a diferentes módulos , es decir a diferentes campos del software como  por ejemplo:

		el administrador del sistema podra controlar todo el sistema como el lo desee,cabe recalcar que el sistema solo se entregara con el rol del administrador  ya que este creara los otros 2 roles restantes para tener mejor comodidad y seguridad sel sistema.

		Miembro de Sonido:Este sera el encargado de controlar los módulos de canciones y  biblia.

		Miembro de tesorería:Encargado de controlar las finanzas dentro de la iglesia.Este permite ingresar  crear borrar y llevar un conteo claro de como matener un equilibrio claro  del dinero que entra  y sale del   lugar.

      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Roles según los requerimientos:
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>Administrador global</h3>
         El administrador del sistema podrá controlar todo el sistema como el lo desee,cabe recalcar que el sistema solo se entregara con el rol del administrador  ya que este creara los otros 2 roles restantes para tener mejor comodidad y seguridad del sistema.
       
        <h3>Administrador el sonido</h3>
        >
		Miembro de Sonido:Este sera el encargado de controlar los módulos de canciones y  biblia.
        <
        <h3>Administrador de tesoreria</h3>
        
		Miembro de tesorería:Encargado de controlar las finanzas dentro de la iglesia. Este permite ingresar  crear borrar y llevar un conteo claro de como mantener un equilibrio claro  del dinero que entra  y sale del   lugar.
		Cada  uno de  estos roles  serán los responsable de  darle  un  buen  uso al programa.
      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          ¿Como rellenar los campos del formulario?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        A continuación podremos observar como se pueden llenar los campos  ya que cada  uno de ellos tienen formas diferentes de ser llenados como  por ejemplo: 
        
        <h3>Campos de nombres</h3>
        
		un campo de un nombre se debería   de llenar con letras bien sea mayúsculas o minúsculas,mientras que el campo teléfono  se debe de llenar solo con números  de lo contrario saldrá  un error.
        
        <h3>Campo de correo electronico</h3>
		Podremos observar  que también lo  que son los campos de los correos electrónicos por obligación deben de llevar el carácter  @  este es  el símbolo indispensable para que  no   causar  un error.
        
        <br>Campo de valor e ingresos</br>
		Los caracteres  que se suman,en este caso los  valores ingresados en el  modulo de tesorería deben ser solo números de lo contrario nos sacara error,cabe recalcar que el valor inscrito de esta forma (10.000)    con el  punto  del mil nos  sacara error  ya que el ( . )    no es un valor numérico.
       
        <h3>Campos obligatorios</h3>
		Todos los campos del programa deben de ser rellenados con algún carácter  dependiendo de la recomendación dada,si la  el usuarios que este  ingresando los datos el sistema no los  ingresa bien, este   automáticamente saldrá error, como también si el campo  pasa a   estar vacío   no  dejara  terminar de crear un formulario dado,aparecerá un error en  rojo diciendo “debe de llenar este campo,es obligatorio”
        <br>
		Después de leer   detenidamente  la  creación de los formularios , es evidente que no podrás tener   ningún error  al crear  uno, estos son los pasos claves para poder realizarlo.

      </div>
    </div>
  </div>
</div>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
          Espesificacion de modulos
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse ">
      <div class="panel-body">
       <h3>Modulo directivas</h3>
		En el modulo de directivas podras encontrar cada  uno de los grupos conformados en la iglesia como  lo son algunos de ellos alabanza,damas dorcas , jovenes ,renuevos etc, donde cada  uno de  estos grupos   elaboran una acción diferente en la iglesia.
		 
		Podremos observar en en el lado   superior izquierdo aparecerá un  examinar esta forma  (examinar) donde podemos dar clic y  automáticamente este no lleva  para  el  formulario  a llenar dependiendo el  campo a la cual se le a dado el clic.


		<h3>Modulo de canciones</h3> 

		El modulo de canciones  te permitirá guardar   todas las canciones que se  escuchen en la iglesia, y  para mas comodidad a las personas nuevas  que llegan  al lugar se podran aprender las canciones mucho mas facil ya que el programa permite sacar la letra de las canciones  un archivo PDF .
		Todas las canciones registradas   pueden ser manipuladas bien sea por el formato  o la letra de la canción es decir  se acomoda a la utilidad que el usuario  desee realizar.


		<h3>Modulo de configuración</h3>

		Este modulo te permitirá  configurar toda  la  parte de los roles eliminarlo cambiarlo o crear  uno  nuevo, pero solamente  podrá hacerlo el encargado de manejar todo el sistema.
		El roll principal es el  que interactuara con todo y el  sera el que le de los privilelgios  a  cada uno de los roles  ya nombrados anteriormente

       
     </div>
   </div>
 </div>
 <br>
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
         Buscador
        </a>
      </h4>
    </div>
    <div id="collapsefive" class="panel-collapse collapse ">
      <div class="panel-body">
      Cada vista   tiene un  buscador múltiple , la cual nos permitirá ingresar un dato de  esa vista y buscar todo su contendido,Pero hay que tener  en cuenta algo muy importante solo buscara por el ítem mas importante como por ejemplo en el modulo de  membrecia y directivas por el nombre, en el  de canciones el nombre de  la canción  en el  de  tesorería el valor y dentro de tesorería  esta servicios este el buscador funciona solo con ingresar el nombre de la empresa o tipo.
  </div>
 </div>
</div>

 <br>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
         Glosario
        </a>
      </h4>
    </div>
    <div id="collapsesix" class="panel-collapse collapse ">
      <div class="panel-body">

        
		<h3>Ipuc</h3>:  Iglesia Pentecostal Unidad de Colombia

		<h3>Ofrenda:</h3> Don que se ofrece y dedica a Dios voluntariamente

		<h3>Diezmo:</h3> El diezmo era un requisito de la ley en la cual todos los Israelitas ofrendaban al tabernáculo / templo el 10% de todo lo que ganaban. La Biblia enseña que el Dios es la parte que le corresponde a Dios.


		<h3>Membrecia:</h3> es el conteo de personas que asisten a la congregacion para llevar un orden.

		<h3>Directivas:</h3> Son las diferentes ramas que tiene y manera la iglesia para llevar un orden con cada tipo de creyente que asiste a la congregacion(Iglesia).

		<h3>Hay diferentes Directivas, algunos ejemplos son:</h3>

		<h4>Directiva de Alabanza:</h4> Es la encarga de dirigir la alabanza y canticos en la Iglesia

		<h4>Directiva de Jovenes:</h4> Es quien esta a cargo de la juventud de la Iglesia quien hace sus evento pensando en ellos y salidas. Para asi tenerlo en cuenta en la congregacion

		<h4>Directiva de Caballeros:</h4> Es quien esta a cargo de los caballeros de la Iglesia para hacer sus cultos especiales y sus temas especificos y especiales para ellos.

		<h4>Directiva de Evangelismo:</h4>Es la  que esta encargada de llevar el evangelio y salir a anunciar la doctrina de unicidad de la Iglesia. Esta Directiva maneja la parte de las campañas que son las salidas con megafonos y predicas por las calles.

		<h4>Directiva de Damas Dorcas:</h4> Es quien esta a cargo de las mujeres de la Iglesia para sus eventos especiales y tratar temas especificos y de interes para ellas.

		<h4>Directiva de Junta Local:</h4>Se podria decir que es la directiva mas importante, pues esta es la mano derecha del pastor. Ayuda con sus deciciones y problemas que se presenten en sus diferentes ramas estan pendientes de las otras directivas y que todo marche bien y en orden dentro y fuera de la iglesia.

		<h4>Directiva de Esc. Dominical:</h4> Es quien esta a cargo de los niños de la Iglesia. Un culto para un niño puede ser canson, aburrido y largo, esta Directiva se encarga de llevarlos a salones jugar cuidarlos y enseñar de maneras mas praticas de la biblia y de Dios. Son una columna muy importante dentro de la iglesia pues es quien instruyen al niño en este camino enseñandoles buenos valores y que ante todo hay un Dios grande y todopoderoso. 
        <br>
		<h3>Rol:</h3> es en proyecto cada usuario que ingrese y desee ingrese debe tener una cuenta dentro de ella. Esta cuenta se maneja con un rol especifico dependiendo de cargo tenga en la iglesia, y dependiendo de dicho cargo la aplicación le permitira ingresar los diferentes modulos para consultar  lo que necesite.

		<h3>Tesoreria:</h3> Este modulo sera manejado por 2 personas el pastor y un usuario que tenga el permiso del pastor para que le ayude a llevar las cuentas de la iglesia.

		Lleva todo lo relacionado con dineros, tanto ingresado como egresados.

   </div>
 </div>
</div>


<p></p>
